[package]
authors = ["Jamalam <james@jamalam.tech>"]
description = "A language server for Pest."
edition = "2021"
homepage = "https://pest.rs"
license = "Apache-2.0"
name = "pest-language-server"
readme = "../README.md"
repository = "https://github.com/pest-parser/pest-ide-tools"
version = "0.1.1"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
pest = "2.5"
pest_fmt = "0.2"
pest_meta = "2.5"
serde_json = "1.0"
tokio = { version = "1.13", features = ["full"] }
tower-lsp = "0.19"
