[package]
authors = ["Jamalam <james@jamalam.tech>"]
description = "A language server for Pest."
edition = "2021"
homepage = "https://pest.rs"
license = "Apache-2.0"
name = "pest-language-server"
readme = "../README.md"
repository = "https://github.com/pest-parser/pest-ide-tools"
version = "0.1.1"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
bench = false
crate-type = ["cdylib"]

[dependencies]
console_error_panic_hook = "0.1"
js-sys = "0.3"
lsp-types = "0.93"
pest = "2.5"
pest_fmt = "0"
pest_meta = "2.5"
serde = {version = "1", features = ["derive"]}
serde-wasm-bindgen = "0.4"
wasm-bindgen = "0.2"
