# Ignore everything.
**

# Selectively un-ignore files we want included in the released extension.
!README.md
!LICENSE
!package.json
!language-configuration.json
!build/client.js
!build/server.js
!build/pest_language_server_bg.wasm
!syntaxes/pest.tmLanguage.json
!icon.png