name: CI

on:
  push:
  pull_request:

jobs:
  check:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Setup
        uses: ./.github/actions/setup
        with:
          kind: check
          secret: ${{ secrets.GITHUB_TOKEN }}
      - name: Format and Lint
        run: task fmt-and-lint
      - name: Cargo Check
        run: cargo check

  package-vscode:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Setup
        uses: ./.github/actions/setup
        with:
          kind: package-vscode
          secret: ${{ secrets.GITHUB_TOKEN }}
      - name: Package Extension
        run: task package-vscode
      - name: Upload Extension
        uses: actions/upload-artifact@v3
        with:
          name: pest-vscode
          path: vscode/pest.vsix
