name: CI

on:
  push:
    branches:
      - '**'
  pull_request:

jobs:
  check:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Setup
        uses: ./.github/actions/setup
        with:
          kind: check
          secret: ${{ secrets.GITHUB_TOKEN }}

      - name: Format and Lint
        if: contains(matrix.os, 'ubuntu')
        run: task fmt-and-lint

      - name: Cargo Check
        run: cargo check

  package-vscode:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Setup
        uses: ./.github/actions/setup
        with:
          kind: package-vscode
          secret: ${{ secrets.GITHUB_TOKEN }}

      - name: Package Extension
        working-directory: vscode
        run: npm run package

      - name: Upload Extension
        uses: actions/upload-artifact@v6
        with:
          name: pest-vscode
          path: vscode/pest.vsix

  package-sublime-text:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Package Sublime Text Package
        working-directory: sublime-text
        run: zip pest.sublime-package *

      - name: Upload Extension
        uses: actions/upload-artifact@v6
        with:
          name: pest-sublime-text
          path: sublime-text/pest.sublime-package
